/* header */

header {
	display: flex;
	height: 350px;
}


img {
	width: 60%;
	height: 60%;
	object-fit: cover;
	border-radius: 50%;
	margin: 20% 20% 20% 20% ;
	border: 3px solid rgb(218,165,32);
}

#photo {
	width: 350px;
	height: 350px;
	background-color: rgb(255,215,0);
	border-left: solid 2px rgb(218,165,32);
	border-top: solid 2px rgb(218,165,32);
}


#titre {
	height: 350px;
	width: 800px;
	margin-left: 75px;
}

#jessica {
	color: rgb(255,215,0);
}

#nom {
	font-size: 5em;
}

#metier {
	font-size: 2em;
}

#soulignement {
	border-bottom: solid 3px rgb(255,215,0);
}

/* corps gauche de la page */


.gauche {
    display: flex;
    flex-direction: column;
	width: 350px;
	background-color: rgb(255,215,0);
	border-left: solid 2px rgb(218,165,32);
}

.titre_gauche {
	background-color: rgb(105,105,105);
	height: 50px;
	width: 350px;
	text-align: center;
	font-size: 2.5em;
	color: rgb(255,215,0);
	border-left: solid 2px rgb(128,128,128);
	left: -2px;
	position: relative;

}

/* corps droit de la page */

.droit {
	display: flex;
	width: 800px;
	float: right;
	position: relative;
	top: -580px;